{% extends "ctracker_base.html" %}
{% load json_context %}
{% load js_reverse %}
{% load staticfiles %}
{% load string_utils %}

{% block content %}
    <!-- Map  -->
    <div id="map" style="width:100%; height: 700px; position: relative;"></div>


     <script type="text/javascript">
    (function () {

        function loadmap() {
            var djoptions = {
                "resetview": false, 
                "attributionprefix": null, 
                "scale": "metric", 
                "minzoom": null, 
                "zoom": null, 
                "fitextent": true, 
                "tilesextent": [], 
                "layers": [
                    ["Hydda", "http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png", 
                        {"attribution": "Tiles courtesy of <a href=\"http://openstreetmap.se/\" target=\"_blank\">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>"}]],
                "minimap": false, 
                "overlays": [], 
                "maxzoom": null, 
                "srid": null, 
                "extent": [[-90, -180], [90, 180]], 
                "center": null},

            options = {djoptions: djoptions, initfunc: loadmap,
                           globals: false, callback: main_map_init};
            L.Map.djangoMap('map', options);
        }

        var loadevents = ["load"];
        if (loadevents.length === 0) loadmap();
        else if (window.addEventListener) for (var i=0; i<loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
        else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);
        
    })();        
    </script>

    <!-- Claim templates and modals -->

    {% include "modals/claims_modal.html" %}
    {% include "modals/add_objects_modal.html" %}
    {% include "modals/services_modal.html" %}
    <div id="app" class="streams-container">
        <vue-snotify></vue-snotify>
        <stream />
    </div>
{% endblock %}

{% block javascript %}
    {% json_context %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>
    <script src="{% static 'js/webpack.stream.js' %}"></script>
    {% include "streams/includes/_twitter_widget.html" %}
{% endblock %}


{% block css %}
    {{ block.super }}
    <link href="{% static "css/webpack.stream.css" %}" rel="stylesheet" >
    {# TODO: remove this override once legacy streams are removed #}
    {# Also change Content render to not add .nsfw class at all. #}
    <style>
        .nsfw {
            display: unset;
        }
    </style>
{% endblock %}
